* {
    box-sizing: border-box;
}

body {
    width: 100%;
    clear: both;
}

h2 {
    text-align: center;
    margin: 2%;
    padding: 1%;
    font-size: 175%;
}

.container {
    width: 99.9%;
    clear: both;
}

div.section {
    border: 1px solid black;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
    background-color: rgb(221, 228, 247);
    position: relative;
    float: left;
}

div.text {
    border: none;
    clear: both;
}

p {
    border: 1px solid black;
}

.title {
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    font-size: 125%;
    font-weight: bold;
    text-align: center;
    float: right;
    width: 30%;
    padding: 1%;
    margin-top: 0%;
}

#p1 {
    background-color: pink;
}
#p2 {
    background-color: rgb(255, 128, 149);
}
#p3 {
    background-color: rgb(255, 62, 95);
}

/* Desktop view*/
@media (min-width:992px) {
    .col-lg-4 {
        float: left;
        width: 32.5%;
        margin:0.2%;
    }
}
/* Tablet view*/
@media (min-width:768px) and (max-width:991px) {
    .col-md-6 {
        float: left;
        width: 47%;
        margin: 0.5em;
    }
    .col-md-12 {
        width: 96%;
        margin: 0.5em;
    }
}
/* Mobile view*/
@media (max-width:767px) {
    .col-sm-12 {
        width: 95%;
        margin: 0.5em;
    }
}
